.footerGithubWrap {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 20px 0;

  .footer-github {
    font-size: 25px;
    cursor: pointer;
  }

  .footer-CopyrightOutlined {
    svg {
      width: 16.5px;
      height: 16.5px;
      margin: 0 5px;
    }
  }
}
