.workbenchWrap {
  width: 100%;
  height: 100%;
  position: absolute;
}
.headerBox {
  width: 100%;
  height: 150px;
  background: #fff;
  margin-bottom: 20px;
  position: relative;
  top: 0;
  left: 0;
}
a {
  color: #000;
}
.MainBox {
  width: 100%;
  background: rgb(236, 236, 236);
  overflow: auto;
}
// Echarts图表盒子
.BaseChartsBox {
  width: 96%;
  height: 250px;
  background: #fff;
  margin-bottom: 20px;
  margin-left: 2%;
}
//导航盒子
.navigationBox {
  width: 96%;
  height: 140px;
  background: #fff;
  margin-bottom: 20px;
  margin-left: 2%;
}

.navigation_top_box {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #eee;
}

.navigation_top_box p {
  font-size: 16px;
  margin-left: 20px;
  line-height: 70px;
}

.navigation_bottom_box {
  width: 100%;
}

.navigation_bottom_box ul li {
  list-style: none;
  float: left;
  font-weight: none;
  line-height: 50px;
  color: #ccc;
  text-align: center;
  width: 16%;
}
.navigation_bottom_box ul li a {
  font-size: 13px;
}
// 卡片盒子
.CardBox {
  width: 96%;
  background: #fff;
  margin-bottom: 20px;
  margin-left: 2%;
}
.Card_Top_Box {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #eee;
}
.Card_Top_Box p {
  margin-left: 20px;
  line-height: 50px;
}
.Card_Top_Box p span {
  float: right;
  margin-right: 20px;
}
.ItemBox {
  width: 82%;
  height: 100px;
  margin-left: 35px;
}
.ItemBox img {
  width: 100%;
  height: 100%;
}
//表格盒子
.tableBox {
  width: 96%;
  height: 370px;
  background: #fff;
  margin-bottom: 20px;
  margin-left: 2%;
}
.Table_Top_Box {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #eee;
}
.Table_Top_Box p {
  margin-left: 20px;
  line-height: 50px;
}
.Table_Top_Box p span {
  float: right;
  margin-right: 20px;
}
.CardWrap {
  width: 100% !important;
}
.Table_bottom_Box {
  width: 100%;
  height: 100%;
}
.Table_bottom_Box span {
  color: blue;
}
.Table_bottom_Box span:hover {
  cursor: pointer;
}
// 底部盒子
.BottomBox {
  width: 96%;
  height: 100px;
  background: rgb(236, 236, 236);
  margin-left: 2%;
}

.footerGithubWrap {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(236, 236, 236);
  margin-top: 140px;

  .footer-github {
    font-size: 25px;
    cursor: pointer;
  }

  .footer-CopyrightOutlined {
    svg {
      width: 16.5px;
      height: 16.5px;
      margin: 0 5px;
    }
  }
}
