.knowledgeBookletWrap {
  width: 100%;
  height: 100%;
}

.ant-pro {
  width: 100%;
  margin-bottom: 20px;
  background-color: #fff;
}

.button {
  width: 100px;
  height: 40px;
  border-radius: 3px;
  float: right;
}

//下面的内容
// .ant-card {
//   width: 200px;
//   height: 100px;
// }
.knowledge-content {
  width: 100%;
  margin-top: 60px;
  display: flex;
  //换行
  flex-wrap: wrap;
}

.ant-card-grid {
  width: 140px;
  height: 150px;
  padding: 0;

  .img {
    height: 100px;
    width: 140px;

    img {
      height: 100px !important;
      width: 140px !important;
    }
  }

  //text文本溢出隐藏
  .text {
    width: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 50px;
  }
}

.ant-card-cover img {
  width: 140px;
}

.inputname {
  width: 500px;
}

.dragBox {
  width: 800px;
  margin-left: 45px;
}

.inputname2 {
  width: 580px;
  margin-left: 50px;
}

.buttons {
  margin-left: 70px;
}

.boxp {
  width: 500px;
  // background-color: aquamarine;
  display: flex;
}

.fenbox {
  margin-top: 120px;
  width: 50px;
  // height: 60px;background-color: salmon;
  display: inline-block;
}

.inputname2 {
  width: 500px;
}

.xiapictue {
  width: 750px;
  height: 600px;
  // background-color: skyblue;
  display: flex;
  flex-wrap: wrap; //换行
}

.picterone {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin: 20px;

  .tupian {
    width: 200px;
    height: 100px;
    // background-color: papayawhip;
  }
}
