.btn_box {
  width: 100%;
  border-top: 1px solid rgba(244, 244, 244, 1);
  display: flex;
  justify-content: right;
  Button {
    margin-top: 15px;
    margin-left: 10px;
  }
}
.img {
  height: 180px;
  background: #f5f5f5;
  img {
    height: 180px;
    width: 100%;
    display: block;
  }
}
