body,
html,
#root {
  width: 100%;
  height: 100%;
}
main {
  width: 100%;
  height: 100%;
  // background: orange;
  position: relative;
}
.Register_Wrap_Box {
  width: 100%;
  height: 100%;
  background: rgba(252, 252, 252, 0.856);
  position: absolute;
  left: 0;
  top: 0;
}

.Register_Wrap_Big_Box {
  width: 80%;
  height: 80%;
  background: #fff;
  margin-left: 10%;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
}
.Register_Wrap_Left_Box {
  width: 50%;
  height: 100%;
  background: #eee;
  background-image: url('./image/屏幕截图\ 2022-09-29\ 162652.png');
  background-size: 100%; /*设置图片大小*/
}
.Register_Wrap_Right_Box {
  width: 50%;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
}
.Register_Wrap_Title_Box {
  width: 100%;
  height: 200px;
  // background: skyblue;
  font-size: 18px;
}
.Register_Wrap_Title_Box p {
  margin-top: 25%;
  font-size: 20px;
}
.Register_Wrap_user_Box {
  width: 100%;
  height: 300px;
}
.Register_Wrap_user_Box p {
  font-size: 12px;
}
