.SearchRecordWrap {
  width: 100%;
  height: 100%;
}

.SearchRecordWrap_utils_header {
  background-color: #fff;
}

.SearchRecordWrap_list_wrap {
  background-color: #fff;
  margin: 20px 0;
  padding: 15px;
}

.SearchRecordWrap_Count_Span {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  background-color: yellowgreen;
  color: #fff;
}

.SearchRecordWrap_Pagination {
  height: 60px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 10px;
}

.SearchRecordWrap_a_style {
  color: #1890ff;
}
