li {
  list-style: none;
}
.articleManagementWrap {
  width: 100%;
  height: 100%;
  .search {
    height: 200px;
    margin: 20px;
    background: white;
    .form {
      margin-top: 20px;
      width: 400px;
      margin-left: 50px;
    }
    .form1 {
      margin-top: 20px;
      width: 350px;
    }
    .button {
      width: 300px;
      display: flex;
      // background: red;
    }
  }
  .table_list {
    // height: 600px;
    margin: 20px;
    background: white;
    .list_t {
      height: 50px;
      // line-height: 50px;
      // background: rebeccapurple;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      button {
        margin-right: 20px;
      }
      .top_button {
        display: none;
        float: left;
      }
      .top_button2 {
        // display: none;
        // float: right;
        position: absolute;
        right: 30px;
      }
    }
    .SearchRecordWrap_Pagination {
      height: 60px;
      display: flex;
      justify-content: right;
      align-items: center;
      padding: 0 10px;
    }
  }
}
.action {
  display: flex;
  cursor: pointer;
}
.tag {
  background: orange;
  padding: 3px;
}
.tags {
  background: rgb(21, 198, 21);
  padding: 3px;
}
.views {
  height: 20px;
  width: 20px;
  background: rgb(21, 198, 21);
  // padding: 5px;
  display: block;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  color: white;
}
.likes {
  background: rgb(231, 15, 123);
  // padding: 5px;
  border-radius: 50%;
  display: block;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  color: white;
}

.AllArticleWrap {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  background-color: pink;
}
