li {
  list-style: none;
}

.PageManagementWrap {
  width: 100%;
  min-height: 720px;
  display: flex;
  flex-direction: column;
  background: #fff;
}

/* 中 */
.PageManagementHeader {
  width: 100%;
  height: 60px;
  border-bottom: 2px solid rgb(233, 229, 229);
  display: flex;
  justify-content: space-between;
  background-color: #fff;

  .PageManagementTitle {
    display: flex;
    align-items: center;
    margin: 4px 0;
    overflow: hidden;

    .Button {
      width: 30px;
      height: 30px;
      margin-left: 20px;
      text-align: center;
      font-size: 18px;
    }

    .Input {
      width: 400px;
      height: 40px;
      margin-left: 20px;
      border-top: none;
      border-right: none;
      border-left: none;
    }
  }
  .PageManagementRelease {
    margin: 4px 0;
    white-space: nowrap;

    // .Buttons {}

    .Buttons {
      margin-top: 10px;
      margin-right: 10px;
    }

    .Dian {
      padding-bottom: 20px;
      margin-right: 30px;
      border: none;
    }
  }
}

/*  */
.PageManagementMain {
  width: 100%;
  flex: 1;

  .header {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgb(233, 229, 229);
    display: flex;
  }

  .Div {
    display: flex;

    .PageManagementsLeft ::-webkit-scrollbar {
      width: 4px;
    }

    .PageManagementsLeft ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #ccc;
    }

    .PageManagementsLeft ::-webkit-scrollbar-track {
      box-shadow: inset 0px 0px 5px rgba(186, 32, 32, 0.2);
      background: #fff;
      border-radius: 10px;
    }

    .PageManagementsLeft {
      width: 80%;
      height: 610px;
      background: #fff;

      p {
        padding-top: 10px;
      }

      a {
        padding-left: 7px;
      }

      .H3 {
        text-align: center;
      }

      h1 {
        text-align: center;
        padding-top: 60px;
        font-size: 30px;
      }

      ul {
        border-top: 1px solid rgb(241, 237, 237);
        border-bottom: 1px solid rgb(241, 237, 237);
      }

      li {
        font-size: 15px;
        list-style-type: disc;
        padding-top: 5px;
        padding-left: 10px;
      }

      h2 {
        padding-top: 30px;
        padding-left: 30px;
      }

      p {
        width: 95%;
        padding-left: 30px;
        margin-left: 20px;
        padding-top: 20px;
      }

      h3 {
        padding-top: 20px;
        font-weight: bold;
        padding-left: 30px;
      }

      pre {
        width: 95%;
        padding-left: 30px;
        margin-left: 20px;
        display: block;
        font-family: monospace;
        white-space: pre;
      }

      pre {
        width: 95%;
        // height: 180px;
        background: #ccc;
        background: #ccc;
        border: 1px solid #fff;
        // max-height: 370px;
        padding-left: 30px;
        list-style: decimal;
      }

      .language-HTML {
        width: 90%;
        height: 160px;
        padding: 9px 10px 12px;
        border-radius: 0;
        color: var(--main-text-color);
        overflow: auto;
        overscroll-behavior: contain;
        font-size: 12px;
        margin: 0;
        white-space: pre-wrap;
        padding-top: 20px;
      }

      table {
        margin-left: 50px;
      }

      iframe {
        display: block;
        width: 95%;
        height: 450px;
        border: 0;
        overflow: hidden;
        clear: both;
        margin: 1rem 0;
        border: 1px solid #ccc;
        margin-left: 20px;
      }
    }

    .PageManagementsRight {
      width: 20%;
      height: 610px;
      background: #fff;
      overflow-y: auto;
    }
  }
}

.buttona {
  margin-left: 550px;
  margin-top: 20px;
}

.Input {
  width: 200px;
  height: 30px;
}

.Sou {
  margin-left: 500px;
}

.pp {
  margin-top: 40px;
}

.Chong {
  margin-left: 10px;
}

.ps {
  margin-top: 30px;
}

.Pagination {
  margin-top: 50px;
}

.but {
  margin-left: 50px !important;
  margin-top: 10px !important;
}
.p {
  margin-left: 1100px !important;
  margin-top: 15px !important;
  a {
    padding-left: 10px !important;
  }
}
.li {
  margin-left: 20px !important;
  padding-top: 10px !important;
  margin-top: 20px !important;
}
