
.w-md-editor{
    height: 600px !important;
}

.ant-drawer-body::-webkit-scrollbar {
    width: 4px !important;
    height: 5px !important;
}
.ant-drawer-body::-webkit-scrollbar-thumb  {
    border-radius: 10px !important;
    background-color:#ccc !important;
}
.ant-drawer-body::-webkit-scrollbar-track  {
    box-shadow: inset 0px 0px 5px rgba(186, 32, 32, 0.2) !important;
    background: #fff !important;
    border-radius: 10px !important;
}
.ant-card {
    width: 680px;
  }