.UserInformation_wrap {
  height: 100%;
  display: flex;

  align-items: center;
  span {
    display: inline-block;
    margin: 0 3px;
    height: 100%;
  }
}
.UserInformation_wrap_github_icon {
  // margin-top: 4px;
  svg {
    // font-size: 25px;
    width: 32px;
    height: 32px;
    position: relative;
    top: 9px;
  }
}
.UserInformation_wrap_avatar_iocn {
  font-size: 15px;
}
.UserInformation_wrap_avatar_image {
  width: 35px;
  height: 35px;
  // border-radius: 50px;
}
.UserInformation_wrap_user_information {
  font-size: 16px;
  color: #333;
}
