.PageManagementWrap {
  width: 100%;
  height: 720px;
  background-color: #fff;
  .PageManagementHeader {
    width: 100%;
    height: 60px;
    border-bottom: 2px solid rgb(233, 229, 229);
    display: flex;
    justify-content: space-between;

    .PageManagementTitle {
      display: flex;
      align-items: center;
      margin: 4px 0;
      overflow: hidden;

      .Button {
        width: 30px;
        height: 30px;
        margin-left: 20px;
        text-align: center;
        font-size: 18px;
      }

      .Input {
        width: 400px;
        height: 40px;
        margin-left: 20px;
        border-top: none;
        border-right: none;
        border-left: none;
      }
    }
    .PageManagementRelease {
      margin: 4px 0;
      white-space: nowrap;

      // .Buttons {}

      .Buttons {
        margin-top: 10px;
        margin-right: 10px;
      }

      .Dian {
        padding-bottom: 20px;
        margin-right: 30px;
        border: none;
      }
    }
  }
}
