html,
body,
#root {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
}

.FileManagementWrap {
  width: 100%;
  height: 100%;
  background: #eee;
  position: absolute;
  top: 0;
  left: 0;
}

.FileHeader {
  width: 100%;
  height: 50px;
  background: yellow;
  margin-bottom: 20px;
}

.FileWrap {
  width: 100%;
  height: 630px;
  background: #eee;
  overflow: auto;
}

.FileHeaderWrap {
  width: 95%;
  height: 20%;
  margin-left: 10px;
  background: #ffff;
  display: flex;
  flex-direction: row;
}
.FileHeader_Left_Wrap {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  line-height: 120px;
}
.FileHeader_middle_Wrap {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  line-height: 120px;
}
.FileHeader_right_Wrap {
  flex: 1;
  p {
    margin-top: 16%;
  }
  .SearchBtn {
    float: right;
    margin-bottom: 0;
    margin-left: 10px;
  }
  .LingBtn {
    float: right;
    margin-bottom: 0;
    margin-left: 10px;
  }
}
.FileText {
  width: 20%;
  margin-left: 60px;
}
.FileInput {
  width: 80%;
}
.FileMainWrap {
  width: 100%;
  // // height: 540px;
  margin-top: 20px;
  background: #eee;
}

.CardWrap {
  width: 95%;
  height: 100%;
  .CardBox {
    width: 100%;
    height: 100%;
    .ImageBox {
      width: 100%;
      height: 130px;
      background: #000;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .title {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.Pagination {
  margin-top: 20px;
}

.footerWrap {
  width: 95%;
  height: 120px;
}
.footerGithubWrap {
  width: 100%;
  margin-left: 10px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #eee;
  padding: 20px 0;
  .footer-github {
    font-size: 25px;
    cursor: pointer;
  }
  .footer-CopyrightOutlined {
    svg {
      width: 16.5px;
      height: 16.5px;
      margin: 0 5px;
    }
  }
}
.PaginWrap {
  width: 100%;
  // background: #000;
  margin-left: 50%;
}
