@media screen and (max-width: 742px) {
  .labelManagementWrap {
    display: flex;
    flex-direction: column;
  }
  .allTag {
    height: 300px;
  }
}
.labelManagementWrap {
  width: 100%;
  height: 100%;
  display: flex;
  .addTag {
    width: 35%;
    margin: 20px;
    height: 300px;
    background: white;
    h3 {
      height: 50px;
      border-bottom: 1px solid #ccc;
      line-height: 50px;
      padding-left: 15px;
    }
    .input {
      height: 200px;
      display: flex;
      flex-direction: column;
      padding: 10px;
      justify-content: flex-start;
      .buttonNone {
        display: none;
      }
    }
  }
  .allTag {
    width: 60%;
    margin: 20px;
    height: 150px;
    background: white;
    h3 {
      height: 50px;
      border-bottom: 1px solid #ccc;
      line-height: 50px;
      padding-left: 15px;
    }
    .list {
      height: 100px;
      // background: red;
      display: flex;
      // justify-content: space-around;
      flex-wrap: wrap;
      .TagSpan {
        // width: 80px;
        height: 25px;
        display: block;
        border: 1px solid #ccc;
        // background: red;
        text-align: center;
        line-height: 20px;
        margin: 10px;
        padding: 3px;
      }
    }
  }
}
