.myCenter {
  width: 100%;
  > header {
    width: 100%;
    height: 50px;
    background-color: #fff;
  }
  > main {
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    .antd-col {
      background-color: #fff;
    }
  }
}

.poste {
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    width: 120px;
    align-items: center;
  }
}
.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .spac {
    width: 120px;
    align-items: center;
  }
}
