@media screen and (max-width: 742px) {
  .classificationWrap {
    display: flex;
    flex-direction: column;
  }
  // .addClassify{
  //   margin-bottom: 0px !important;
  //   height: 300px;
  //   width: 300px;
  // }
  .allClassify {
    height: 300px;
    width: 300px;
    // margin-top: 0 !important;
  }
}
.classificationWrap {
  width: 100%;
  height: 100%;
  display: flex;
  .addClassify {
    width: 35%;
    margin: 20px;
    height: 300px;
    line-height: 10px;
    background: white;
    // line-height: 20px;
    h3 {
      height: 50px;
      border-bottom: 1px solid #ccc;
      line-height: 50px;
      padding-left: 15px;
    }
    .input {
      height: 200px;
      // background: red;
      display: flex;
      flex-direction: column;
      padding: 10px;
      justify-content: flex-start;
      line-height: 15px;
      .button {
        display: flex;
        justify-content: space-between;
        // background: lightblue;
        width: 100%;
        .buttonNone {
          display: none;
        }
        // .delButton{
        //   position: absolute;
        //   right: 10px;
        // }
      }
    }
  }
  .allClassify {
    width: 60%;
    margin: 20px;
    height: 150px;
    background: white;
    h3 {
      height: 50px;
      border-bottom: 1px solid #ccc;
      line-height: 50px;
      padding-left: 15px;
    }
    .list {
      height: 100px;
      // background: red;
      display: flex;
      // justify-content: space-around;
      flex-wrap: wrap;
      .classifySpan {
        // width: 80px;
        height: 25px;
        display: block;
        border: 1px solid #ccc;
        font-size: 8px;
        // background: red;
        text-align: center;
        line-height: 20px;
        margin: 10px;
        padding: 3px 3px;
      }
    }
  }
}
