.UserManagementWrap {
  width: 100%;
  height: 100%;
}

.UserManagementWrap_header {
  width: 100%;
  // margin: 10px;
  margin-bottom: 15px;
  background-color: #fff;
}

.UserManagementWrap_Table {
  // margin: 15px;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 20px;
}

.UserManagementWrap_Table_Pagination {
  height: 60px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 10px;
  background-color: #fff;
}

.UserManagementWrap_a_style {
  color: #1890ff;
}

.UserManagementWrap_checkbox {
  // display: none;
  visibility: hidden;
  transition: all 0.3s;
  button {
    margin: 0 5px;
  }
}

.AllArticleWrap {
  width: 100%;
  height: 100%;
  padding: 20px;
}
