li {
  list-style: none;
}
.PageManagementWrap {
  width: 100%;
  min-height: 720px;
  display: flex;
  flex-direction: column;
  background: #f3f3f3;
  li {
    list-style: none;
  }
  width: 100%;
  height: 100%;
  .search {
    height: 200px;
    margin: 20px;
    background: white;
    .form {
      margin-top: 20px;
      width: 400px;
      margin-left: 50px;
    }
    .form1 {
      margin-top: 20px;
      width: 350px;
    }
    .button {
      width: 300px;
      display: flex;
      // background: red;
    }
  }
  .table_list {
    // height: 600px;
    margin: 20px;
    background: white;
    margin-top: 0;
    .list_t {
      height: 50px;
      // line-height: 50px;
      // background: rebeccapurple;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      button {
        margin-right: 20px;
      }
      .top_button {
        display: none;
        float: left;
      }
      .top_button2 {
        // display: none;
        // float: right;
        position: absolute;
        right: 30px;
      }
    }
    .SearchRecordWrap_Pagination {
      height: 60px;
      display: flex;
      justify-content: right;
      align-items: center;
      padding: 0 10px;
    }
  }
}
.action {
  display: flex;
  cursor: pointer;
  span {
    display: block;
    width: 65px;
    text-align: center;
    // background: red;
    margin: 5px;
    color: rgb(8, 160, 254);
  }
}
.views {
  display: block;
  height: 20px;
  width: 20px;
  background: rgb(21, 198, 21);
  // padding: 5px;
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 20px;
}
.button {
  display: flex;
}
