// html,
// body,
// #root {
//   width: 100%;
//   height: 100%;
// }
// main {
//   width: 100%;
//   height: 100%;
//   position: relative;
// }
.cardditors {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.knowdetail {
  width: 100%;
  height: 100vh;
  display: flex;
}
.left {
  width: 20%;
  height: 100%;
  .top {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .img {
      width: 80%;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 32px;
        height: 32px;
      }
    }
  }
  .center {
    width: 100%;
    height: 40px;
    button {
      width: 90%;
      height: 32px;
      margin-left: 10px;
      background: #fff;
      border: none;
    }
  }
  .but {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgb(215, 213, 213);
  }
  .list {
    width: 100%;
    height: 400px;
    .cover {
      width: 90%;
      height: 40px;
      display: flex;
      align-items: center;
      background: rgb(49, 146, 220);
      border-radius: 5px;
      justify-content: space-around;
      color: #fff;
      margin: auto;
      margin-top: 10px;
      .div {
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
    }
  }
}
.right {
  width: 80%;
  height: 100%;
  background: #fff;
  text-align: center;
  line-height: 100vh;
}
.text {
  width: 278px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
