.CardCom {
  //   cursor: pointer;
  //   width: 17.2rem;
  //   border: 1px solid #eee;
  //   display: inline-block;
  //   margin-left: 20px;
  //   margin-bottom: 20px;
  //   .CardImg {
  //     color: #f00;
  //     width: 100%;
  //     height: 11.25rem;
  //     background: #f5f5f5;
  //     img {
  //       width: 100%;
  //       height: 100%;
  //     }
  //   }
  border: 1px solid #000;
}
