//主盒子
.AccessStatisticsWrap {
  width: 100%;
  height: 100%;
}
//
.AccessStatisticsWrap_utils_header {
  background-color: #fff;
}
//表格盒子
.AccessStatisticsWrap_list_wrap {
  background-color: #fff;
  margin: 20px 0;
  padding: 15px;
}
//搜索盒子
.AccessStatisticsWrap_Pagination {
  height: 60px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 10px;
}

.AccessStatisticsWrap_a_style {
  color: #1890ff;
}
