.UserManagementWrap {
  width: 100%;
  height: 100%;
}

.UserManagementWrap_header {
  width: 100%;
  // margin: 10px;
  margin-bottom: 15px;
  background-color: #fff;
}
.UserManagementWrap_Table {
  margin: 15px;
}
.content_div {
  width: 350px;
  height: 500px;
  // background-color: skyblue;
}
.content_p {
  height: 50px;
  padding-top: 230px;
  font-size: 16px;
  // background-color: slateblue;
}
.content_one {
  font-size: 30px;
  font-weight: 600;
  margin-left: 30px;
}
.content_three {
  font-size: 30px;
  margin-left: 20px;
}
.content_two {
  font-size: 16px;
  margin-left: 10px;
}
